@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_Qphzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG7g4.ttf) format('truetype');
}
#logo-home {
  text-align: center;
  background-color: #282828;
  height: 34vh;
  margin: 0px auto 50px auto;
  justify-content: center;
  align-content: center;
  display: grid;
}
#logo-iplacex {
  width: 450px;
}
#home-recorrido {
  height: 100vh;
  width: 100%;
}
.sedes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 210px 210px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  margin: 0px 50px;
}
.item-sedes {
  border-radius: 4px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.content {
  height: calc(100% - 60px);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  font-weight: 500;
  font-size: 20px;
}
.item-sedes:hover {
  background-color: #D52B1E;
  transform: translate(0px, -10px);
  transition: background-color 300ms ease-in;
}
.item-sedes > a > .content:hover {
  background-color: #D52B1E;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 100ms ease-in;
}
.item-sedes.santiago-sede {
  background-image: url('../img/sedes/thumbnails/sd_fotos_santiago_29.jpg');
  background-size: cover;
}
.item-sedes.copiapo-sede {
  background-image: url('../img/sedes/thumbnails/sd_fotos_copiapo_35.jpg');
  background-size: cover;
}
.item-sedes.talca-sede {
  background-image: url('../img/sedes/thumbnails/sd_fotos_talca_54.jpg');
  background-size: cover;
}
.item-sedes.cte-sede {
  background-image: url('../img/sedes/ct-arica/galeria/ct_fotos_arica_06.jpg');
  background-size: cover;
}
.item-sedes.cte-arica {
  background-image: url('../img/sedes/thumbnails/ct_fotos_arica_06.jpg');
  background-size: cover;
}
.item-sedes.cte-antofagasta {
  background-image: url('../img/sedes/thumbnails/ct_fotos_antofagasta_01.jpg');
  background-size: cover;
}
.item-sedes.cte-laserena {
  background-image: url('../img/sedes/thumbnails/ct_fotos_laserena_15.jpg');
  background-size: cover;
}
.item-sedes.cte-valparaiso {
  background-image: url('../img/sedes/thumbnails/ct_fotos_valparaiso_18.jpg');
  background-size: cover;
}
.item-sedes.cte-republica {
  background-image: url('../img/sedes/thumbnails/ct_fotos_republica_17.jpg');
  background-size: cover;
}
.item-sedes.cte-temuco {
  background-image: url('../img/sedes/thumbnails/ct_fotos_temuco_20.jpg');
  background-size: cover;
}
.item-sedes.cte-concepcion {
  background-image: url('../img/sedes/thumbnails/ct_fotos_concepcion_19.jpg');
  background-size: cover;
}
.item-sedes.cte-puertomontt {
  background-image: url('../img/sedes/thumbnails/ct_fotos_puertomontt_20.jpg');
  background-size: cover;
}
.item-sedes.cte-puntaarenas {
  background-image: url('../img/sedes/thumbnails/ct_fotos_punta_arenas_06.jpg');
  background-size: cover;
}
