//out: main.css, sourceMap: false, compress:true

@import "variables.less";
@import "header.less";
@import "home.less";
@import "videos.less";

.menu-lateral::-webkit-scrollbar {
    display: none;
}
// Formato
:root,body{
    padding:0px;
    margin: 0px;
    font-family: @montserrat;
    background-color: #efeee9;
}
//CSS
.d-none{
    display: none !important;
}
h1,h2,h3,h4,p,.sub-a{
    user-select: none;
    font-family: @montserrat;
    color: @red-iplacex;
}
//MAIN
main{
    width: 100%;
    height: auto;
    background-color: #efeee9;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    color: @wh;

}
.main.galeria{
    padding: 60px 40px 0px;
}
.grid-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
}
.video{
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

.galeria-360{
    height: auto;
    overflow-y: scroll;
}
@media (min-width: 1440px) {
    #logo-home{
        height: 180px;
    }
}
@media (max-width: 500px) {
    #logo-home{
        height: 150px;
        margin: 0 auto 20px auto;
    }
    #logo-iplacex{
        width: 300px;
    }
    main{
        background-image: transparent;
        /*height: auto;*/
    }
    #home-recorrido{
        height: inherit ;
    }
    .sedes-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 180px);
        padding: 0px 10px 50px 10px;
    }
    .item-sedes>.content{
        font-size:20px;
    }
}