//out: main.css, sourceMap: false, compress:true

@import "variables.less";
@import "header.less";
@import "home.less";
@import "videos.less";

.menu-lateral::-webkit-scrollbar {
    display: none;
}
// Formato
:root,body{
    padding:0px;
    margin: 0px;
    font-family: @montserrat;
    background-color: #efeee9;
    user-select: none;
}
//CSS
.d-none{
    display: none !important;
}
h1,h2,h3,h4,p,.sub-a{
    user-select: none;
    font-family: @montserrat;
    color: @red-iplacex;
}

.volver-360{
    user-select: none;
    z-index: 99997;
    background-color: @red-iplacex;
    display: inline-block;
    position: absolute;
    top:20px;
    right:20px;
    width:auto;
    height: 20px;
    cursor: pointer;
    padding:10px;
    border-radius: 4px;
    transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

}
.volver-360:hover{
    transform: scale(1.05);
    background-color: @blk-rgba;
    border: solid 2px @red-iplacex;
}
//MAIN
main{
    width: 100%;
    height: auto;
    background-color: #efeee9;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    color: @wh;

}
.main.galeria{
    padding: 60px 40px 0px;
}
.grid-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
}
.video{
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

.galeria-360{
    height: auto;
    overflow-y: scroll;
}
.main>h3{
    text-align: center;
    font-size:2em !important;
}
#ctec-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px;
}
.ctec-arica{
    background-image: url('../img/sedes/ct-arica/galeria/ct_fotos_arica_06.jpg');
    background-size: cover;
    background-position: center;
}
.ctec>h4{
    height: calc(100% - 60px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 30px;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.ctec>h4:hover{
    border-bottom: black solid 10px;
    background-color: rgba(213,43,30,0.8);
}
.ctec-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    margin: 0px 50px;
    
}
@media (min-width: 1440px) {
    #logo-home{
        height: 180px;
    }
}
@media (max-width: 500px) {
    #logo-home{
        height: 150px;
        margin: 0 auto 20px auto;
    }
    #logo-iplacex{
        width: 300px;
    }
    main{
        background-image: transparent;
        /*height: auto;*/
    }
    #home-recorrido{
        height: inherit ;
    }
    .sedes-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 140px);
        padding: 0px 10px 50px 10px;
    }
    .item-sedes>.content{
        font-size:20px;
    }
    .ctec-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        padding: 0px 10px 50px 10px;
    }
    .main.galeria{
        padding: 60px 0px 0px;
    }
    #galeria-miniaturas>h3{
        font-size: 1.6em !important;
        padding: 0px 20px;
    }
}