//out: main.css, sourceMap: false, compress:true

//Tipografías
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@red-iplacex: #ca444d;
@wh: #ffffff;
@blk: #282828;
@montserrat: 'Montserrat', sans-serif;


// Formato
:root,body{
    padding:0px;
    margin: 0px;
    font-family: @montserrat;
}
//CSS
.d-none{
    display: none !important;
}
h1,h2,h3,h4,p,.sub-a{
    user-select: none;
    font-family: @montserrat;
    color: @red-iplacex;
}